@import "tailwindcss";
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-variant-ligatures: common-ligatures;
}

@theme inline {
  --color-primary: #17cf54;
  --color-background-light: #ffffff;
  --color-background-dark: #112116;
  --text-primary: #242424;
  --text-secondary: #6b6b6b;
  --color-surface-light: #f0f4f2;
  --color-surface-dark: #1c2e22;
  --font-sans: var(--font-sans);
  --font-heading: var(--font-heading);
  --font-mono: var(--font-mono);
  --font-secondary: var(--font-secondary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
html,
body {
  font-family: var(--font-sans);
  width: 100%;
  overflow-x: hidden;
}

h1,
h2,
h3,
button {
  font-family: var(--font-heading);
  letter-spacing: 0.1;
}
